.main-element {
  position: absolute;
  left: 100px;
  bottom: 10px;
  background-color: teal;
  padding: 10px;
}

.parent-element {
  position: relative;
  padding: 10px;
  background-color: #81adc8;
  height: 200px;
}

.sibling-element {
  background: #f2f2f2;
  padding: 10px;
  border: 1px solid #81adc8;
}
