html {
  height: 2000px;
}

.main-element {
  position: sticky;
  top: 10px;
  background-color: teal;
  padding: 10px;
}

.parent-element {
  position: relative;
  height: 800px;
  padding: 0px 10px;
  background-color: #81adc8;
}

.sibling-element {
  padding: 10px;
  background-color: #f2f2f2;
}